form {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

mat-card {
  padding: 20px;
}

mat-card-actions, mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}





