form {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

mat-card {
  padding: 20px;
  width: 100%;
}

mat-card-actions, mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}


.logout {
  width: 400px;
  height: 50px;
  margin-top: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
