
@forward '../styles/theme-vars';

@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';


$custom-app-primary: mat.define-palette(mat.$indigo-palette, A700);
$custom-app-secondary: mat.define-palette(mat.$light-green-palette, A200);
$custom-app-surface: #fffdf1;

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondary,
    surface: $custom-app-surface,
  )
));

@include mat.core();
@include mat.all-component-themes($custom-theme);


