<h2 mat-dialog-title>Entre com sua conta</h2>
<mat-dialog-content>
  <form class="login-form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
    <div *ngIf="error" style="color:#c0392b">{{error}}</div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="accent" (click)="submit()" >Entrar</button>
</mat-dialog-actions>
