.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

