@use '@angular/material' as mat;
@use '../../../../styles/theme' as theme;

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.card {
  width: 300px;

}

.clickable-card {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.clickable-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card button {
  margin: 16px;

}

.card .title {
  font-size: 20px;
  font-weight: bold;
  color: mat.get-color-from-palette(theme.$custom-app-primary, 'default');
}

.card-footer {
  align-items: center;
  padding: 5px;
}

.container {
  margin: 16px;
}

.banner {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner button{
  width: fit-content;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

mat-card-content, .title {
  margin-left: 5px;
}



