<div class="container">
  <div class="info">
    <h1>URBAN FIT</h1>
    <h2>Movimente sua comunidade</h2>
    <p>Nosso objetivo é conectar pessoas e promover hábitos saudáveis por meio de atividades físicas na comunidade. Aqui, você encontra eventos, desafios e grupos para diferentes práticas, unindo saúde, bem-estar e interação social.</p>
    <p>Junte-se a nós e comece a transformar sua rotina e sua comunidade!</p>
    <div class="actions">
      <button mat-flat-button color="accent" (click)="openLoginDialog()">Entrar</button>
      <button mat-flat-button color="primary" (click)="openRegisterDialog()">Criar conta</button>
    </div>
  </div>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1663515994080-e0615f6a047c?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI1fHx8ZW58MHx8fHx8" alt="">
  </div>
</div>
