.form-card {
  width: 40%;
  padding: 20px;
  min-width: 300px;
}

form, .form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 16px;
}

mat-card-actions {
  gap: 10px;
}

mat-form-field {
  width: 90%;
}

mat-card-content {
  width: 90%;
}

.container {
 padding: 40px;
 display: flex;
 flex-direction: row;
 gap: 20px;
}

.map {
  width: 100%;
}
