.profile-container{
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

app-profile-form {
  width: 40%;
}

mat-card {
  height: 100%;
}



