@use '@angular/material' as mat;
@use '../../../styles/theme' as theme;

.card {
  max-width: 400px;
}

.card button {
  margin: 16px;
}

.card .title {
  font-size: 20px;
  font-weight: bold;
  color: mat.get-color-from-palette(theme.$custom-app-primary, 'default');
}

.footer {
  align-items: center;
  padding: 16px;
}

.container {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

mat-grid-list {
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
