<div class="container">
  <h1>EVENTOS PERTO DE VOCÊ</h1>
  <div class="card-list">
    <mat-card
      class="card clickable-card"
      appearance="outlined"
      *ngFor="let event of events"
      [title]="'Clique para ver detalhes de ' + event.name"
      [routerLink]="['/']"
    ><!-- [routerLink]="['/event', event.id]" --->
      <mat-card-header>
        <mat-card-title class="title">{{event.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Data:</strong> {{event.date | date}}</p>
        <p><strong>Horário:</strong> {{event.time}}</p>
        <p><mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon><strong> Local:</strong> {{event.local}}</p>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <button mat-flat-button color="primary">Inscrever-se</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

