.registration-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}

mat-dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap ;
  gap: 20px;
}

mat-form-field {
  min-width: 700px;
}

