<h2 mat-dialog-title>CADASTRE-SE</h2>
<mat-dialog-content>
  <form class="registration-form" action="" [formGroup]="form">
    <mat-form-field>
      <mat-label>Nome Completo: </mat-label>
      <input matInput type="text" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Idade</mat-label>
      <input matInput type="number" formControlName="age"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="accent" (click)="onRegister()">Criar conta</button>
  <a href="">Já tenho um cadastro</a>
</mat-dialog-actions>
