<h2 mat-dialog-title>CADASTRE-SE</h2>
<mat-dialog-content>
  <div class="registration-form">
    <mat-form-field>
      <mat-label>Nome Completo: </mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Idade</mat-label>
      <input matInput type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="accent">Criar conta</button>
  <a href="">Já tenho um cadastro</a>
</mat-dialog-actions>
