.card {
  width: 60%;
}

.map { width: 100%; height: 420px;}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-card-header, mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

mat-card-content {
  margin: 20px 6em;
}

mat-card-actions {
  gap: 10px;
}

